body {
  font-family: sans-serif;
  background: #f5f7fa;
  text-align: center;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background: black;
  color: white;
}
